page-login {

@media (min-width: 300px) {
    html { font-size: 70%; }
    .login-logo{
      width: 100px;
    }
}

@media (min-width: 500px) {
    ion-input{ font-size: 25px; }
    #submitBtn 
    { 
      font-size: 25px; 
      height: 4rem;
    }
    .login-logo{
      width: 100px;
    }
}
@media (min-width: 568px) {
    ion-input{ font-size: 20px; }
    #submitBtn 
    { 
      font-size: 20px; 
      height: 3rem;
    }
    .login-logo{
      width: 100px;     
    }
}
@media (min-width: 768px) {
   ion-input{ font-size: 25px; }
    #submitBtn 
    { 
      font-size: 25px; 
      height: 4rem;
    }
    .login-logo{
      width: 200px;     
    }
}
@media (min-width: 1024px) {
    ion-input{ font-size: 20px; }
    #submitBtn 
    { 
      font-size: 20px; 
      height: 4rem;
    }
}
@media (min-width: 1136px) {
    ion-input{ font-size: 20px; }
    #submitBtn 
    { 
      font-size: 20px; 
      height: 4rem;
    }
    .login-logo{
      width: 400px;     
    }
}
@media (min-width: 1200px) {
    ion-input{ font-size: 40px; }
    #submitBtn 
    { 
      font-size: 30px; 
      height: 6rem;
    }
    .login-box{
      margin-top:70px;
    }
    .login-logo{
      width: 400px;     
    }
}
@media (min-width: 1334px) {
    ion-input{ font-size: 20px; }
    #submitBtn 
    { 
      font-size: 20px; 
      height: 4rem;
    }
    .login-logo{
      width: 400px;     
    }
}
@media (min-width: 2208px) {
    ion-input{ font-size: 30px; }
    #submitBtn 
    { 
      font-size: 30px; 
      height: 5rem;
    }
    .login-logo{
      width: 400px;     
    }
}

    img{
     max-width: none;       
    }

  .login-content {
    background: #0101DF;
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
 
    .login-box {
      background: #2E64FE;
      padding: 20px 20px 0px 20px;
      // margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #0080FF;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
 
     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
     }
  }

}
