<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Campaign Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-xs-2 offset-xs-5 col-sm-8 offset-sm-2 col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-lg-6 offset-lg-3>
      <ion-card>
        <img src="{{thumpUrlPrefix + campaign.ThumbUrl}}" />
        <ion-card-content>
          <ion-card-title>
            <ion-grid>
              <ion-row>             
                <ion-col col-12>{{campaign.Name | truncate : [20, '...']}}</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col col-4 >OS</ion-col>
              <ion-col col-8 > {{getOSType()}} </ion-col>
            </ion-row>  
            <ion-row>
              <ion-col col-4 >App ID</ion-col>
              <ion-col col-8 > {{getApplicationId(campaign)}} </ion-col>
            </ion-row>  
            <ion-row>
              <ion-col col-4 >Description</ion-col>
              <ion-col col-8 > {{campaign.Description | truncate : [20, '...']}}</ion-col>
            </ion-row>            
            <ion-row *ngIf="campaignViewed == true">
              <ion-col col-4 >Code </ion-col>
              <ion-col col-4 >{{campaign.ClickWorkerConfirmationCode}}</ion-col>
            </ion-row>
          </ion-grid>          
          <ion-row *ngIf="campaignViewed == false" style="margin-top: 30px;">
            <ion-col col-6 offset-3>
              <div class="round-button">
                <div class="round-button-circle">
                  <a href="{{getPlaystoreUrl(campaign)}}">
                 Install                  </a>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
