<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Campaigns</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
  <img src="{{thumpUrlPrefix + campaign.ThumbUrl}}"/>
  <ion-card-content>
    <ion-card-title>
      {{campaign.Name}}
      </ion-card-title>
    <p>
      {{campaign.Description}}
    </p>
    <!-- Float the icon right -->
    <a ion-button icon-left *ngIf="campaignViewed == false" href="{{'http://play.google.com/store/apps/details?id='+campaign.ApplicationName}}">
        <ion-icon name="logo-android"></ion-icon>
        Install
    </a>
    <button ion-button icon-left *ngIf="campaignViewed == false" (click)="validateInstallation()">
        <ion-icon name="logo-android"></ion-icon>
        Validate installation
    </button>
    <div *ngIf="campaignViewed == true">
        Code: {{campaign.ClickWorkerConfirmationCode}}
    </div>

  </ion-card-content>
</ion-card>
  
</ion-content>
